/*-----Estilos de InfinitySoft-----*/

/*Fuentes*/

@font-face {
    font-family: 'MyWebFont';
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

/*Estructura de pagina*/

/*
.header_logo{
  display: flex;
  align-items: center;
}
.header_logo h1{
  font-size: 1.3em;
}

.header_logo h2{
  font-size: 0.8em;
}

.header{
  background-color: rgba(0, 0, 0, 0.911);
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
    z-index: 1;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.icon{
  color: gray;
}

.navigation{
  padding-top: 200px;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  transition: width 3s;
  transition-delay: 1s;
}

#header_logo_text{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation{
  display: none;
  
}

.responsive{
  display: block;
  
}

header label:hover{
  cursor: pointer;
  color: red;
}

.header_logo > a:link, .header_logo > a:visited, .navigation a:link, .navigation a:visited, .navigation li{
  text-decoration: none;
  color: white;
  list-style-type:none
}

#header_logo_img{
  width: 20%;
*/

header {
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    color: white;
}

#logo_img {
    width: 100px;
}

#container_logo {
    display: flex;
    align-items: center;
    font-size: 80%;
}

nav {
    background-color: rgba(0, 0, 0, 0.911);
    padding: 5px 20px;
    z-index: 1;
}

#logo_img {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a, .toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

/*Hasta*/

/*Iframe para responsive*/

.iframe-container iframe {
    width: 80%;
}

/*-->>4x3 Aspect Ratio */

.iframe-container-4x3 {
    padding-top: 75%;
}

/*Diseño de container_welcome*/

.container_welcome {
    width: 100%;
    height: 300px;
    background: url("../media/img/jpg/Background_Responsive_1.jpg");
    background-position: center;
    -webkit-background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_welcome_box {
    background-color: rgba(0, 0, 0, 0.527);
    height: 60%;
    width: 60%;
    font-size: 0.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_welcome_box>p {
    padding: 10px;
    font-size: large;
}

.container_welcome_box_botton {
    background-color: white;
    color: black;
    border: 1px solid;
    padding: 5px;
}

.container_welcome_box_botton:link {
    text-decoration: none;
}

/*Diseño de container_welcome_formulary*/

.container_welcome_formulary {
    width: 100%;
    height: 300px;
    background: url("../media/img/jpg/Contact_Responsive_1.jpg");
    background-position: center;
    -webkit-background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_information_formulary {
    text-align: center;
}

#container_information_formular_contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.img_article {
    width: 100%;
}

#container_information_formular_contact>input, #container_information_formular_contact>textarea, #container_information_formular_contact>select {
    margin-top: 1%;
    width: 60%;
    height: 60px;
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0;
    border-bottom: solid gray 1px;
    background-color: rgba(0, 0, 0, 0);
    color: grey;
}

#container_information_formular_contact>input:focus, #container_information_formular_contact>textarea:focus, #container_information_formular_contact>select:focus {
    border: 0;
    border-bottom: solid white 1px;
}

#container_information_formular_contact>input:required, #container_information_formular_contact>textarea:required, #container_information_formular_contact>select:required {
    border: 0;
    border-bottom: solid red 1px;
}

#container_information_formular_contact>textarea {
    resize: none;
    height: 200px;
}

.container_information_contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_information_logo_img {
    width: 10%;
}

.container_information_contact_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container_information_contact_social>h3 {
    font-size: 30px;
}

.social_media_description_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_media_description_title>img {
    width: 20%;
}

/*Diseño de article_blog_1*/

.article_blog_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

#search {
    display: none;
}

video {
    width: 100%;
}

/*Diseño de container_welcome_formulary*/

.container_welcome_blog {
    width: 100%;
    height: 300px;
    background: url("../media/img/jpg/blog_background.jpg");
    background-position: center;
    -webkit-background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Diseño de container_blog*/

.container_blog {
    color: white;
}

.article_blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article_blog_img {
    width: 50%;
}

.article_blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles_blog>article {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article_blog a:link, .article_blog a:visited {
    text-decoration: none;
}

.article_blog a {
    color: black;
    background: white;
    padding: 10%;
    border: 1px solid black;
}

.article_blog p {
    padding: 1%;
}

/*Diseño de container_information*/

.container_information {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 30px;
}

#container_information_tittle {
    font-size: 0.7em;
    text-align: center;
}

.container_information_articles {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container_information_articles>img {
    padding-top: 10%;
    width: 80%;
}

/*Diseño de social_media*/

.social_media {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 5px solid white;
}

.social_media>article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_media p {
    margin-top: 10px;
}

.social_media h2 {
    font-size: 1.2em;
}

#social_media_description_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#social_media_description_title>h3 {
    font-size: 2em;
}

#social_media_description_text {
    text-align: center;
}

#social_media_description_text>p {
    margin-top: 10px;
}

.footer {
    color: white;
    background-color: grey;
    padding: 20px;
    font-size: 10x;
    border-top: 5px solid white;
}

.footer p {
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    #logo_img {
        display: none;
    }
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: red;
        border: 1px white solid;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #ffffff;
        color: black;
        /*border-color: #whire;*/
    }
    .button.secondary a:hover {
        color: #ddd;
    }
    /*Hasta*/
    #container_information_tittle {
        font-size: 1em;
    }
    .container_information_articles {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .container_information_articles>img {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 40%;
    }
    .container_welcome {
        width: 100%;
        height: 800px;
        background: url("../media/img/jpg/Background.jpg");
        background-position: center;
        -webkit-background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_welcome_blog {
        width: 100%;
        height: 300px;
        background: url("../media/img/jpg/blog_background_responsive.jpg");
        background-position: center;
        -webkit-background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_welcome_box {
        background-color: rgba(0, 0, 0, 0.527);
        width: 25%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_information_article {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .container_information_articles {
        display: flex;
        width: 45%;
        color: white;
        text-align: center;
    }
    .social_media {
        border-top: 5px solid white;
        padding-top: 10px;
        color: white;
        display: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .social_media>article {
        text-align: center;
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    #logo_img {
        display: block;
    }
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    /*Hasta*/
    .header {
        background-color: rgba(0, 0, 0, 0.911);
        width: 100%;
        height: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .header_logo {
        display: flex;
        align-items: center;
    }
    .header_logo h2 {
        font-size: 20px;
    }
    #header_logo_text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #header_logo_img {
        width: 30%;
    }
    .icon {
        display: none;
    }
    .navigation ul {
        display: flex;
    }
    .navigation li {
        padding: 10px;
    }
    .container_welcome {
        width: 100%;
        height: 1000px;
        background: url("../media/img/jpg/Background.jpg");
        background-position: center;
        -webkit-background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_information_article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container_information_article>.container_information_articles {
        width: 30%;
    }
    .container_information_articles {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .container_information_articles>img {
        padding-top: 10%;
        width: 50%;
    }
    .navigation:nth-child(3) li:nth-child(2) {
        margin-right: 60px;
    }
    .container_information_contact {
        display: flex;
        flex-direction: row;
    }
    .container_information_formulary {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
    }
    .container_information_contact_social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: unset;
        padding-left: 10px;
    }
    #article_on {
        display: flex;
    }
    .article_blog_1 {
        align-items: center;
        padding-left: 100px;
        width: 60%;
    }
    .img_article {
        width: 50%;
        height: 500px;
    }
    #search {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 30%;
        padding-top: 60px;
    }
    #search>h3 {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    #FormularySearch {
        display: flex;
    }
    #searchSend {
        background-color: white;
    }
    #searchSend:hover {
        color: white;
        background-color: red;
    }
    #FormularySearch>#container_search {
        margin-top: 1%;
        width: 100%;
        height: 60px;
        font-size: 1.4rem;
        font-family: 'Source Sans Pro', sans-serif;
        border: 0;
        border-bottom: solid gray 1px;
        background-color: rgba(0, 0, 0, 0);
        color: grey;
    }
    #FormularySearch>#container_search:focus {
        border: 0;
        border-bottom: solid white 1px;
    }
    #FormularySearch>#container_search:required {
        border: 0;
        border-bottom: solid red 1px;
    }
    #container_information_formular_contact {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
    }
    .navigation {
        padding-top: 0;
    }
    .navigation li:hover {
        background-color: red;
        transition: 1s;
    }
    .navigation {
        display: flex;
    }
    .main_text {
        order: 2;
    }
    .images>img {
        width: 33%;
        height: 33%;
    }
    .social_media>article {
        text-align: left;
        width: 20%;
    }
    .articles_blog {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}